@tailwind base;

@layer base {
	h1 {
		@apply text-4xl font-bold;
	}
	h2 {
		@apply text-3xl font-bold;
	}
	h3 {
		@apply text-2xl font-bold;
	}
	h4 {
		@apply text-xl font-bold;
	}
	h5 {
		@apply text-lg font-bold;
	}
	p {
		@apply text-base;
	}
	img {
		@apply rounded-md;
	}
}

@tailwind components;
@tailwind utilities;

@font-face {
	font-family: JetBrains;
	src: url(./fonts/ttf/JetBrainsMono-Regular.ttf);
}
:root {
	--dark100: #575758;
	--dark200: #424243;
	--dark300: #2e2d2d;
	--dark400: #201f1f;
	--white: #b8b8b8;
	--blue: #8fa3ff;
	--purple: #d895ff;
	--pink: #ff7e7e;
	--green: #65f490;
	--yellow: #f4c072;
	--sky: #23d8c0;
	--favColor: var(--yellow);
	--HeaderHeight: 4rem;

	/* --bgG: linear-gradient(90deg, #03947c 0%, #00bba2 35%, #64ecda 100%); */
	--bgG: linear-gradient(90deg, #ff6600 0%, #e9912d 35%, #fdc063 100%);
	/* --bgG: linear-gradient(90deg, #37cf4c 0%, #22dd61 35%, #49c46e 100%);
	--bgG: linear-gradient(90deg, #e00043 0%, #d1457f 35%, #fc7373 100%);
	--bgG: linear-gradient(90deg, #9001ce 0%, #9a44cc 35%, #c16bf3 100%);
	--bgG: linear-gradient(90deg, #125ce6 0%, #3a69c0 35%, #7c94ff 100%); */
}

body {
	font-family: JetBrains;
	/* border: 4px solid var(--favColor); */
	/* background-color: var(--dark300); */
	/* -webkit-app-region: drag; */
	/* background: var(--bgG); */
}

::selection {
	background: var(--favColor);
}
